<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.slim.min.js"></script>
    <title>Wi-Fi Tracking and User Analysis</title>
    <style>
      #myCanvas {background-image:url("/views/hkust_26.jpg");
      background-repeat: no-repeat;};
    </style>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse"> </nav>
    <div class="jumbotron">
      <div class="container">
	<h1 class="display-3">Wi-Fi Tracking and User Analysis</h1>
	<p>Author: DENG Zhiheng, LI Zhihang, QIU Yuan, ZHANG Yifeng</p>
      </div>
    </div>
    <div class="buttons">
      <div class="container">
	<a class="btn btn-secondary" id="deviceClass" href="#" role="button">Device Classification »</a>
	<a class="btn btn-secondary" id="pathGeneration" href="#" role="button">Path Generation »</a>
      </div>
    </div>
    <div class="canvas">
      <div class="container">
	<canvas id="myCanvas" width="1000" height="500" />
      </div>
    </div>
  </body>


  <script type="text/javascript">
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var color = '#FF0000';
  function drawLine(x1, y1, x2, y2){
    ctx.beginPath();
    ctx.moveTo(x1,y1);
    ctx.lineTo(x2,y2);
    ctx.stroke();
  }

  var defaultData = [<%= defaultData %>]
  
  var x=[];
  var y=[];
  var minX=10000;
  var minY=10000;
 
  for (var i = 0; i < defaultData.length / 2 ; ++i) {
		      x[i]=defaultData[2*i];
		      y[i]=defaultData[2*i+1];
		      if (x[i] < minX) minX=x[i];
		      if (y[i] < minY) minY=y[i];
		      }
		      $("#myCanvas").css("background-position","-"+(minX-20)+"px, -"+(minY-20)+"px");
		      for (var i = 0; i < defaultData.length / 2 ; ++i) {
					  
    var xx = (x[i]-minX);
    var yy = (y[i]-minY);
    ctx.fillStyle = color;
    ctx.fillRect(xx+20, yy+20, 2, 2);
  }
					  
					  

  </script>
  <!--script src="js/py.js"></script-->
</html>
